<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>O aplikacji</title>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/about.css}" media="screen">
    <meta property="og:title" content="">
</head>
<div class="site" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="site-header">
        <a href="/" style="text-decoration: none">
            <h1 class="site-title">lolknow</h1>
        </a>
        <nav class="site-navigation">
            <ul>
                <li><a href="/">Szukaj</a></li>
                <li><a href="/v1/ranking/all">Ranking</a></li>
                <li><a href="/v1/champions/all">Bohaterowie</a></li>
                <li><a href="/v1/about/">O aplikacji</a></li>
            </ul>
        </nav><!-- .site-navigation -->
    </header><!-- .site-header -->
    <main class="content">
        <div class="text">
            <h3>Jak działa aplikacja?</h3>
            <p>Działanie aplikacji skupia się na wykorzystaniu RIOT API do pobierania i
                prezentacji informacji o grze, jak też rozgrywkach gry League of Legends.
                Można w prosty sposób wyszukać gracza wpisując jego nick, aby sprawdzić
                na jakim jest poziomie, jaki ma ranking, czy też ile ma gier wygranych i przegranych</p>

            <h3>Cel</h3>
            <p>Pomysł na aplikację pojawił się niedługo po tym, jak dowiedziałem się, że istnieje coś takiego jak RIOT
                API (2016r.). Dopiero
                przy okazji wybierania tematu pracy inżynierskiej pomyślałem, że znam już trochę technologie, które
                pomogłyby mi w zbudowaniu takiej aplikacji :) W przypadku pytań lub sugestii proszę o kontakt! Mój
                uczelniany adres email to j.koziej@wspa.edu.pl </p>

            <h3>Pytania i sugestie</h3>
            <p>W przypadku pytań dotyczących aplikacji zapraszam do kontaktu pod mailem uczelnianym: j.koziej@wspa.edu.pl.
            Chętnie też rozważę sugestie dotyczące kierunku rozwoju aplikacji lolknow.</p>
        </div>
    </main>
    <footer class="site-footer">
        <p>LOLKNOW isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone
            officially involved in producing or managing Riot Games properties. Riot Games, and all associated
            properties are trademarks or registered trademarks of Riot Games, Inc.
        </p>
    </footer><!-- .site-footer -->
</div><!-- .site -->

</html>
