<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Gracz</title>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/champion.css}" media="screen">
    <meta property="og:title" content="">
</head>
<div class="site" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="site-header">
        <a href="/" style="text-decoration: none">
            <h1 class="site-title">lolknow</h1>
        </a>
        <nav class="site-navigation">
            <ul>
                <li><a href="/">Szukaj</a></li>
                <li><a href="/v1/ranking/all">Ranking</a></li>
                <li><a href="/v1/champions/all">Bohaterowie</a></li>
                <li><a href="/v1/about/">O aplikacji</a></li>
            </ul>
        </nav><!-- .site-navigation -->
    </header><!-- .site-header -->
    <main class="content">
        <h4 class="champion-name" th:text="${champion.name}"></h4>
        <p class="champion-title" th:text="${champion.title}"></p>
        <div class="content-champion">
            <div class="content-image">
            <img class="image-champion" th:src="@{/img/loading/{image}(image=${champion.image.full})}" alt="" src="">
            </div>
            <div class="content-table">
            <table class = "table-stats">
                <tr>
                    <td>Punkty życia</td>
                    <td><strong><span th:text="${champion.stats.hp}"></span></strong></td>
                </tr>
                <tr>
                    <td>Punkty many</td>
                    <td><strong><span th:text="${champion.stats.mp}"></span></strong></td>
                </tr>
                <tr>
                    <td>Pancerz</td>
                    <td><strong><span th:text="${champion.stats.armor}"></span></strong></td>
                </tr>
                <tr>
                    <td>Prędkość ruchu</td>
                    <td><strong><span th:text="${champion.stats.movespeed}"></span></strong></td>
                </tr>
                <tr>
                    <td>Zasięg uderzenia</td>
                    <td><strong><span th:text="${champion.stats.attackrange}"></span></strong></td>
                </tr>
                <tr>
                    <td>Regeneracja punktów życia</td>
                    <td><strong><span th:text="${champion.stats.hpregen}"></span></strong></td>
                </tr>
                <tr>
                    <td>Szansa na obrażenia krytyczne</td>
                    <td><strong><span th:text="${champion.stats.crit}"></span></strong></td>
                </tr>
                <tr>
                    <td>Siła ataku</td>
                    <td><strong><span th:text="${champion.stats.attackdamage}"></span></strong></td>
                </tr>
                <tr>
                    <td>Prędkość ataku</td>
                    <td><strong><span th:text="${champion.stats.attackspeed}"></span></strong></td>
                </tr>
                <tr>
                    <td>Pancerz/poziom</td>
                    <td><strong><span th:text="${champion.stats.armorperlevel}"></span></strong></td>
                </tr>
                <tr>
                    <td>Punkty życia/poziom</td>
                    <td><strong><span th:text="${champion.stats.hpperlevel}"></span></strong></td>
                </tr>
                <tr>
                    <td>Mana/poziom</td>
                    <td><strong><span th:text="${champion.stats.mpperlevel}"></span></strong></td>
                </tr>
                <tr>
                    <td>Szansa na obrażenia krytyczne/poziom</td>
                    <td><strong><span th:text="${champion.stats.critperlevel}"></span></strong></td>
                </tr>
                <tr>
                    <td>Siła ataku/poziom</td>
                    <td><strong><span th:text="${champion.stats.attackdamageperlevel}"></span></strong>
                    </td>
                </tr>
                <tr>
                    <td>Prędkość ataku/poziom</td>
                    <td><strong><span th:text="${champion.stats.attackspeedperlevel}"></span></strong>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <div class="container-champion">
            <div class="container-image">
            <img class="image-skills" th:src="@{/img/passive/{image}(image=${champion.passive.image.full})}" alt="" src="">
            </div>
            <div class="container-text">
                    <span class="skill-title" th:text="${champion.passive.name}"></span>
                    <br>
                    <span class="skill-description" th:text="${champion.passive.description}"></span>
            </div>
        </div>
        <div class="container-champion" th:each="spell : ${champion.spells}">
            <div class="container-image">
                <img class="image-skills" th:src="@{/img/spell/{image}(image=${spell.image.full})}" alt="" src="">
            </div>
            <div class="container-text">
                <span class="skill-title" th:text="${spell.name}"></span>
                <br>
                <span class="skill-description" th:text="${spell.description}"></span>
            </div>
        </div>
        <hr>
        <div class="lore">
            <div class="">
                <p>
                    <span style="font-weight: 700; margin-top: 10px;display: block;">Historia postaci</span>
                    <br>
                    <span th:text="${champion.lore}"></span>
                </p>
            </div>
        </div>
        <hr>
        <div class="lore">
            <span style="font-weight: 700;">Wskazówki dla sojuszników:</span>
            <p>
                <span th:text="${champion.allytips}"></span>
            </p>
        </div>
        <hr>
        <div class="lore">
            <span style="font-weight: 700;">Wskazówki dla przeciwników:</span>
            <p>
                <span th:text="${champion.enemytips}"></span>
            </p>
        </div>
    </main>
    <footer class="site-footer">
        <p>LOLKNOW isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone
            officially involved in producing or managing Riot Games properties. Riot Games, and all associated
            properties are trademarks or registered trademarks of Riot Games, Inc.
        </p>
    </footer><!-- .site-footer -->
</div><!-- .site -->

</html>
