<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Szukaj</title>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/szukaj.css}" media="screen">
    <meta property="og:title" content="Szukaj">
</head>
<div class="site" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="site-header">
        <a href="/" style="text-decoration: none">
        <h1 class="site-title">lolknow</h1>
        </a>
        <nav class="site-navigation">
            <ul>
                <li><a href="/">Szukaj</a></li>
                <li><a href="/v1/ranking/all">Ranking</a></li>
                <li><a href="/v1/champions/all">Bohaterowie</a></li>
                <li><a href="/v1/about/">O aplikacji</a></li>
            </ul>
        </nav><!-- .site-navigation -->
    </header><!-- .site-header -->
    <main class="content">
        <div id="cover">
            <form method="get" action="" th:action="@{/v1/summoner/details}">
                <div class="tb">
                    <div class="td"><input type="text" placeholder="Nick..." th:name="name" required></div>
                    <div class="td" id="s-cover">
                        <button type="submit">
                            <div id="s-circle"></div>
                            <span></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer class="site-footer">
        <p>LOLKNOW isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone
            officially involved in producing or managing Riot Games properties. Riot Games, and all associated
            properties are trademarks or registered trademarks of Riot Games, Inc.
        </p>
    </footer><!-- .site-footer -->
</div><!-- .site -->

</html>
