<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Gracz</title>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/summoner.css}" media="screen">
    <meta property="og:title" content="">
</head>
<div class="site" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="site-header">
        <a href="/" style="text-decoration: none">
            <h1 class="site-title">lolknow</h1>
        </a>
        <nav class="site-navigation">
            <ul>
                <li><a href="/">Szukaj</a></li>
                <li><a href="/v1/ranking/all">Ranking</a></li>
                <li><a href="/v1/champions/all">Bohaterowie</a></li>
                <li><a href="/v1/contact/">Kontakt</a></li>
                <li><a href="/v1/about/">O aplikacji</a></li>
            </ul>
        </nav><!-- .site-navigation -->
    </header><!-- .site-header -->
    <main class="content">
        <div class="info">
            <div class="summoner-icon">
                <img class="icon" th:src="@{/img/profileicon/{image}(image=${summoner.profileIconId})}"/>
            </div>
            <div class="summoner-info">
                <div th:text="${summoner.name}"></div>
                <div><span th:text="${summoner.summonerLevel}"></span> lvl</div>
            </div>
        </div>
        <div class="tables">
            <table class="stats-table" th:each="rankinginfo : ${player}">
                <thead>
                <tr>
                    <th th:text="${rankinginfo.queueType}"></th>
                </tr>
                </thead>
                <tr>
                    <td>Liga</td>
                    <td><strong><span th:text="${rankinginfo.tier}"></span></strong></td>
                </tr>
                <tr>
                    <td>Liczba punktów</td>
                    <td><strong><span th:text="${rankinginfo.leaguePoints}"></span></strong></td>
                </tr>
                <tr>
                    <td>Wygrane</td>
                    <td><strong><span th:text="${rankinginfo.wins}"></span></strong></td>
                </tr>
                <tr>
                    <td>Przegrane</td>
                    <td><strong><span th:text="${rankinginfo.losses}"></span></strong></td>
                </tr>
                <tr>
                    <td>Współczynnik zwycięstw</td>
                    <td><strong><span th:text="${rankinginfo.wlratio}"></span></strong></td>
                </tr>
                <tr>
                    <td>Seria zwycięstw</td>
                    <td><strong><span th:text="${rankinginfo.hotStreak}"></span></strong></td>
                </tr>
            </table>
        </div>
    </main>
    <footer class="site-footer">
        <p>LOLKNOW isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone
            officially involved in producing or managing Riot Games properties. Riot Games, and all associated
            properties are trademarks or registered trademarks of Riot Games, Inc.
        </p>
    </footer><!-- .site-footer -->
</div><!-- .site -->

</html>
